{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1>About Us</h1>
            <p>
                <b>Refined Curriculum.</b>  <br>
                We've constantly refined our web & mobile development courses and have trained many students. Today, we provide you with a veteran and dynamic curriculum, that is proven to work as the most effective approach to training both experienced developers and students new to coding.
            </p>

    </div>

{% endblock content %}