{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1>About Us</h1>
            <p>
                <b>Refined Curriculum.</b>  <br>
                We've constantly refined our web & mobile development courses and have trained many students. Today, we provide you with a veteran and dynamic curriculum, that is proven to work as the most effective approach to training both experienced developers and students new to coding.
            </p>
            <p>

                Industry Oriented Learning <hr>

                Learning full stacks opens to a lot of software and web development career opportunities. 
                We will work with you to identify your strengths and provide a wide range of career services that put you on a path towards your desired career.

            </p>
    </div>

{% endblock content %}