{% extends "base.html" %}
{% block content %} 


    
    <div class="container">
            <h1>Welcome Home</h1>
            <p>Become a full-stack, self-sufficient software developer in 16 weeks.
            Whether you are in IT or want to pursuing a course (degree, diploma) in IT/Software Engineering/Computer Science, <br>
            our coding programs will spur your career as a sotware developer to greater heights.</p>
            <p>Become a full-stack, self-sufficient software developer in 16 weeks.
                Whether you are in IT or want to pursuing a course (degree, diploma) in IT/Software Engineering/Computer Science, <br>
                our coding programs will spur your career as a sotware developer to greater heights.</p>
            <p>

                Effective Content. <hr>
                We used to teach a single stack for over three months. Then, we got it down to nine weeks and, 
                ultimately, down to four weeks. Thanks to our custom Learning Platform and evolving teaching methodology.

            </p>
        

        </div>



{% endblock content %}